/**
 * 公共
 */
* { font-size: 14px; margin: 0px; padding: 0px; border: 0px; }
a { text-decoration: none; }
img { border: 0px; }
.oh { overflow: hidden; }
.m-t-15 { margin-top: 15px; }
.m-t-25 { margin-top: 25px; }
.m-l-10 { margin-left: 10px; }
.m-b-15 { margin-bottom: 15px; }
.fl { float: left; }
.fr { float: right; }
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.fw-700 { font-weight: 700; }

/**
 * 表单
 */
.el-form .el-form-item { margin-bottom: 0px; border-bottom: 1px dashed #eee; padding: 22px 5px; padding-right: 20%; }
.el-form .el-select { width: 100% }
.form-submit { margin: 22px 5px; }
.el-form-item:hover { background-color: #fafafa; }

/**
 * 公共dl样式
 */
.dl-content dt { float: left; padding-left: 5px; overflow: hidden; clear: left;  
        width: 120px; }
.dl-content dd { border-bottom: 1px solid #efefef; padding-left: 120px; }
.dl-content dt, .dl-content dd { font-weight: normal; text-align: left; margin-top: 0px; line-height: 36px; min-height: 36px; }

/**
 * 顶部导航
 */
header { background-color: #324157; height: 45px; }
header .logo { color: #fff; font-size: 32px; font-family: serif; margin: 0px 5px 0px 10px; display: inline-block; }
header .logo-tips { color: #c6c6c6; font-size: 12px; }
#nav-left { float: left; width: 160px; background-color: #eef1f6; }
#nav-left ul { border-radius: 0px; }
#content { padding: 10px 10px 0 10px; }
#nav-left, #content { overflow-x: hidden; }

/**
 * 底部
 */
footer { background-color: #333; padding: 25px 10px; }
footer .title { color: #a4aebd; }

/**
 * 编辑页面面包导航
 */
.tabs-nav { border-bottom: 1px solid #eee; padding: 5px 10px; }
.tabs-nav .title { font-size: 16px; font-weight: 400; }
.tabs-nav .backup { color: #20a0ff; }

/**
 * 搜索条件表单
 */
.search-form .keywords { width: 65% }


/**
 * 上线工单列表
 */
.release-submit { margin-left: 0px !important; }
.rollback-submit { margin-right: 10px; }

/**
 * 上线工单表单
 */
.refresh-submit { float: left; margin: -28px 0 0 50px; }
.refresh-submit span { font-size: 12px; }


/**
 * 欢迎页面
 */
.welcome-title { line-height: 30px; background-color: #eef1f6; padding-left: 5px; }